*{
    padding:0;

}

.head{
    height:100px;
    background-color:red;
    color:white;
    font-size:30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#im{
    width:60px;
    height:70px;
}