
@layer components {
    .card {
        @apply m-10 rounded-full bg-purple-500 text-purple mx-3
    }
} 

@layer base {
    h3 {
        @apply text-base font-medium tracking-tight 
    }

    p {
        @apply text-purple-400 font-medium tracking-tight 
    }

    button{
        @apply text-purple-400 font-medium tracking-tight
    }
}

@utility flex-center {
    @apply flex justify-center items-center
}