div{
    height:100px;
    width:100px;
    color:white;
    background-color:aquamarine;
    border:2px solid black;

}
.dark{
    color:white;
    font-size:20px;
    background-color:black;
}
.light{
    color:black;
    font-size:50px;
    background-color:white;
}
.hover{
    height:100px;
    width:100px;
    background-image:url("bts.jpg");
    background-size:cover;
}