.card{
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 5px 5px 5px black;
   padding: 20px;   /*between the border and the elements  */
   margin:10px;   /*outside the border*/
   text-align:center;
   max-width:250px;
   display:inline-block;
}